/* navbar.css */

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between; 
    width: 80%;
}

.nav-links a {
    flex: 1; 
    text-align: center; 
    color: white;
    text-decoration: none;
    padding: 10px 0;
    box-sizing: border-box; 
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.logout {
    flex: 1; 
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #c0392b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; 
}

.spacer {
    flex-grow: 1;
 }

 
.icon-button.light-gray-background {
    background-color:#e74d3c00; 
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.icon-button.light-gray-background:hover {
    background-color: #FFFFFF; 
}


