<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Order Management</title>
   <!-- Link styles -->
   <link rel="stylesheet" href="{{ url_for('static', filename='order_management.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='dropdown.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='floating_action_button.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}"> 
   <!-- Link scripts -->
   <script src="{{ url_for('static', filename='script/order_management.js') }}" defer></script>
   
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content">
        <h2>Manage Orders</h2>

        {% if orders|length > 0 %}
        {% include 'sorting.html' %}  
        {% include 'order_table.html' %}
        {% include 'modal.html' %}
        {% else %}
            <div class="no-orders">
                <p>No orders yet. Please check back later!</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
